<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css" />
    <style>
        
       
        .list-row {
            border: 1px solid black;
            
        }
        .list-button{
            border-radius:0px;

        }
        .my-col {
            border: 1px solid black;
        }
        .my-headers {
            
        }
        
        
    </style>

</head>
<body>


    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a href="/" class="navbar-brand">Grocery Goat</a>
    <button class="navbar-toggler  ml-auto" data-toggle="collapse" data-target="#navbarMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a href="/Login" class="nav-link">Login</a>
            </li>
            <li class="nav-item">
                <a href="/Lists" class="nav-link">Lists</a>
            </li>
            <li class="nav-item">
                <a href="/Recipes" class="nav-link">Recipes</a>
            </li>
            
            <li class="nav-item">
                  <a href="/Contact" class="nav-link">Contact</a>
                </li>
            
        </ul>
    </div>
    </nav>

    
        
    <div class="col-3">
        <div class="row bg-secondary" style="border: 1px solid black;">
            <h1 class="my-headers">Lists</h1>
        </div>

        <div class="row list-row">
            <button class="btn btn-secondary btn-block list-button">
                List 1
            
            </button>
        </div>
        <div class="row list-row">
            <button class="btn btn-secondary btn-block list-button">
                List 2
            
            </button>
        </div>
        <div class="row list-row">
            <button class="btn btn-secondary btn-block list-button">
                List 3
            
            </button>
        </div>
        <div class="row list-row">
            <button class="btn-primary btn-block list-button">
            New List
            </button>
        </div>
           

    </div>
        


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>





</html>
