{% extends "template.html" %}
<head>
{% block head%}
<style>
thead > tr > th {
  background-color: #cce;
  font-size: 18px;
  border-bottom: 2px solid #999;
}
html,body {
            height: 100%;
    background: linear-gradient(to bottom right, #66ff33 0%, #658506 90%);
}
</style>
{% endblock%}
</head>
<body>
	{% block body %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <h1 style="padding-top: 10px; padding-bottom:10px; text-align: center;">Find A Recipe</h1>
    <form action="" style="width: 500px; margin:auto" method="POST">

        <div class="form-group">
            <label for="search">Search</label>
            <input type="text" name="search" id="search" class="form-control" />
         </div>
         <div class="form-group">
            <label for="amount">Amount to search</label>
            <select name="amount" id="amount" class="form-control">
            	<option value="1">1</option>
  				<option value="2">2</option>
  				<option value="3">3</option>
  				<option value="4">4</option>
  				<option value="5">5</option>
            </select>
        </div>
    
    <div class="col-md-12 text-center">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
    </form>
    <div class="tab-content">
  
  <div class="tab-pane active" id="first">
     <div align="justify">
     {% if recipeLists|length == 0%} 
     <p></p>
      {% else %}
      <H2>Recipes:</H2> 
    <div class="table-responsive" id="dataTablediv1"> 
      <table class="table table-striped table-bordered" sytle="border-collapse: collapse;"id="dataTable1">
      <thead>
       <tr>
       </tr>
	   </thead>
	   
	   {% for i in range(0, recipeLists|length) %}
	   <tbody>
       <tr>        
         <!-- <th>Index</th> -->
        <th>Recipe Title</th>
		<td>{{recipeLists[i][0]}}
            <div class="dropdown show">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Add To List
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  {%for name in userslist%}
                  <a class="dropdown-item" href="{{ url_for('addToList', ing=i, id=name.listId ) }}">{{name.listTitle}}</a>
                  {% endfor %}
                </div>
              </div>    
        </td>
		</tr>
		
		<tr>   
        <th><img src={{recipeLists[i][1]}}>
        Recipe Source:<a href={{recipeLists[i][3]}}>{{recipeLists[i][2]}}</a>
        </th>
		<td>Ingredients:<ul>{% for j in recipeLists[i][8] %}
		<li>{{j}}</li>
			{% endfor %}
			</ul></td>
		</tr>   
 
		
		<tr>   
        <th>Servings</th>
		<td>{{recipeLists[i][4]}} </td>
		</tr>   
		
		<tr>   
        <th>Diet Labels</th>
		<td>{{recipeLists[i][5]}} </td>
		</tr>   
		
		<tr>   
        <th>Health labels</th>
		<td><ul>{% for k in recipeLists[i][6] %}
		<li>{{k}}</li>
			{% endfor %}
			</ul></td>
		</tr> 
		
		<tr>   
        <th>Cautions</th>
		<td>{{recipeLists[i][7]}} </td>
		</tr> 
		
		<tr>   
        <th>Calories</th>
		<td>{{recipeLists[i][9]}} </td>
		</tr>
		
		<tr>   
        <th>Cooking Time</th>
		<td>{{recipeLists[i][10]}} Minutes</td>
		</tr>
		
		<tr>   
        <th>Cuisine Type</th>
		<td>{{recipeLists[i][11]}} </td>
		</tr>
		
		<tr>   
        <th>Meal Type</th>
		<td>{{recipeLists[i][12]}} </td>
		</tr>
		
		<tr>   
        <th>Dish Type</th>
		<td>{{recipeLists[i][13]}} </td>
		</tr>

		{% endfor %}
		
		 {% endif %} 
     
         
     </tbody>
     </table>
   </div>
   	</div>		
            
 	
  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	{% endblock %}
</body>

