{% extends "template.html" %}
<head>
{% block head%}
<style>
thead > tr > th {
  background-color: #cce;
  font-size: 18px;
  border-bottom: 2px solid #999;
}
</style>
{% endblock%}
</head>
<body>
	{% block body %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <form action="" style="width: 500px; margin:auto" method="POST">

        <div class="form-group">
            <label for="search">Search</label>
            <input type="text" name="search" id="search" class="form-control" />
         </div>
         <div class="form-group">
            <label for="amount">Amount to search</label>
            <select name="amount" id="amount" class="form-control">
            	<option value="1">1</option>
  				<option value="2">2</option>
  				<option value="3">3</option>
  				<option value="4">4</option>
  				<option value="5">5</option>
            </select>
        </div>
    
    <div class="col-md-12 text-center">
        <button class="btn btn-primary" type="submit">Search</button>
    </div>
    </form>
    <div class="tab-content">
  
  <div class="tab-pane active" id="first">
     <div align="justify">
     {% if recipeLists|length == 0%} 
     <p></p>
      {% else %}
      <H2>Recipes:</H2> 
    <div class="table-responsive" id="dataTablediv1"> 
      <table class="table table-striped table-bordered" sytle="border-collapse: collapse;"id="dataTable1">
      <thead>
       <tr>
       </tr>
	   </thead>
	   
	   {% for level1 in recipeLists %}
	   <tbody>
       <tr>        
         <!-- <th>Index</th> -->
        <th>Recipe Title</th>
		<td>{{level1[0]}} </td>
		</tr>
		
		<tr>   
        <th><img src={{level1[1]}}>
        Recipe Source:<a href={{level1[3]}}>{{level1[2]}}</a>
        </th>
		<td>Ingredients:<ul>{% for i in ingredients %}
		<li>{{i}}</li>
			{% endfor %}
			</ul></td>
		</tr>   
 
		
		<tr>   
        <th>Servings</th>
		<td>{{level1[4]}} </td>
		</tr>   
		
		<tr>   
        <th>Diet Labels</th>
		<td>{{level1[5]}} </td>
		</tr>   
		
		<tr>   
        <th>Health labels</th>
		<td><ul>{% for i in healthlabel %}
		<li>{{i}}</li>
			{% endfor %}
			</ul></td>
		</tr> 
		
		<tr>   
        <th>Cautions</th>
		<td>{{level1[7]}} </td>
		</tr> 
		
		<tr>   
        <th>Calories</th>
		<td>{{level1[9]}} </td>
		</tr>
		
		<tr>   
        <th>Cooking Time</th>
		<td>{{level1[10]}} Minutes</td>
		</tr>
		
		<tr>   
        <th>Cuisine Type</th>
		<td>{{level1[11]}} </td>
		</tr>
		
		<tr>   
        <th>Meal Type</th>
		<td>{{level1[12]}} </td>
		</tr>
		
		<tr>   
        <th>Dish Type</th>
		<td>{{level1[13]}} </td>
		</tr>

		{% endfor %}
		
		 {% endif %} 
     
         
     </tbody>
     </table>
   </div>
   	</div>		
            
 	
  </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	{% endblock %}
</body>

