.signup-form{
    width:450;
    margin:auto;
}
.card {
    background-color: #343a40;   
}
.card-col{
    margin:auto;
    padding:15px;
}
.card-row{
    padding:30px;
}
.card-img-top {
    image-resolution: snap;
    background-color: lightgray;
}

body{
    background-color: lightgray;
}
